<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <%if(Number(p)!=1){ %>
        <a href="/?page=1&txtquery=<%=sql%>"><i class="fa-solid fa-angles-left"></i></a>

        <a href="/?page=<%=Number(p)-1%>&txtquery=<%=sql%>"><i class="fa-solid fa-angle-left"></i></a>

        <%}%>

        <div>
            <%=p%>
        </div>
        <%if(Number(p)!=lastpage){%>
        <a href="/?page=<%=Number(p)+1%>&txtquery=<%=sql%>"><i class="fa-solid fa-angle-right"></i></a>

        <a href="/?page=<%=lastpage%>&txtquery=<%=sql%>"><i class="fa-solid fa-angles-right"></i></a>
        <%}%>
    
    </div>
    
</body>
</html>